<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Docker</title>
     <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
                background-color: #ee0606;
                font-family: Arial, sans-serif;
            }
        </style>
</head>
<body>
    <h1>Test docker github actions</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, ea!</p>
</body>
</html>